
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------GENERAL STYLES----------- */
body {
    min-height: 100vh;
    width: 100%;
    color: #FFF;
}

input {
  display: inline;
  width: 300px;
  height: 30px;
  padding: 4px;
  border: 2px solid purple;
  border-radius: 6px;
  font-size: 1rem;
}

label {
  font-weight: 600;
}

/* ---------END OF GENERAL STYLES----------- */

.header {
  height: 12vh;
  background-image: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  color: whitesmoke;

  .logo {
    font-size: 1.75rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}

.hero {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: #222;
    min-height: 40vh;
    gap: 2rem;

    .form {
      display: inline-flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 4px;
      margin-right: 6rem;
    }
}

@media screen and (max-width: 580px) {
  .header {
    padding: 0.5rem;
    .logo {
      font-size: 1.25rem;
    }
  }

  .hero {
    .form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0;
    }
  }
}
