
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------- GENERAL STYLES ----------- */
body {
    min-height: 100vh;
    width: 100%;
    color: #FFF;
}

input {
  display: inline;
  width: 350px;
  height: 35px;
  padding: 4px;
  border: 2px solid purple;
  border-radius: 6px;
  font-size: 1rem;
}

label {
  font-weight: 600;
}

img {
  margin: 0;
}

button {
  cursor: pointer;
}

.inactive {
  visibility: hidden;
}

.active {
  visibility: visible;
}

/* --------- END OF GENERAL STYLES ----------- */

.header {
  width: 100%;
  height: 12vh;
  background-image: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  color: whitesmoke;

  .logo {
    font-size: 1.75rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}

.hero {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .buttons {
      width: 100%;
      height: 10vh;
      text-align: center;
      display: grid;
      place-items: center;
    }

    .generator {
      width: 400px;
      height: 40px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: 6px;
      background-image: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
      color: whitesmoke;
    }

    .generator:active {
      width: 390px;
      height: 38px;
    }
}

.input-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    color: #222;
    min-height: 20vh;
    gap: 2rem;

    .form {
      display: inline-flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }
}

.memes-container {
  width: 80%;
  height: auto;
  text-align: center;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0%;
}

.top {
  top: 0%;
}

@media screen and (max-width: 580px) {
  .header {
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    .logo {
      font-size: 1.25rem;
    }
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }

  .hero {
    gap: 0.5rem;

    .generator {
      width: 240px;
    }

    .generator:active {
      width: 230px;
      height: 38px;
    }
  }

  input {
    width: 300px;
  }
}
