* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(#222, #333, #555);
}

body {
    min-height: 100vh;
    width: 60%;
    margin: auto;
    background-color: papayawhip;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media  screen and (max-width: 768px) {
    body {
        width: 100%;
    }
}