
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- VARIABLES ---------- */
:root {
  --bgcolor: papayawhip;
  --bodycolor: whitesmoke;
  --fs-heading: 3rem;
  --fs-normal: 1.25rem;
}


/* ---------- GENERAL STYLINGS ---------- */
html {
  background-color: var(--bgcolor);
  scroll-behavior: smooth;
}

body {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bodycolor);
}

img {
  display: block;
  width: 100%;
}

figcaption {
  display: none;
}