* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

#root {
    background-color: rgb(11, 0, 37);
    width: 100%;
    min-height: 100vh;
    position: relative;
}


.pos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
}

.navbar {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;

    dl {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 40vw;
    }
    
    dd {
        color: whitesmoke;
        font-size: 1.55rem; 
    }
}

.icon {
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: grid;
    place-content: center;
    opacity: 0.25;
}



@media screen and (max-width: 500px) {
    .navbar {
        padding: 1rem;

        dl {
            display: none;
        }
    }
}