
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------- Variables ---------- */
:root {
    --bgcolor: #ddd;
    --boxcolor: #fff;
}

/* ---------- General Styles ---------- */
body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
}