
/* ---------- Fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----------- Variables ---------- */
:root {
    --bgcolor: #0B2434;
    --boxcolor: #F8F8F8;
    --box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
    --die-color: white;
    --fs: 2rem;
    --fs-sm: 1.25rem;
    --btn-color: #5035FF;
    --ff-color: whitesmoke;
    --ff: "Mukta", sans-serif;
}


/* ---------- General Styles ---------- */
body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    padding: 25px;
    display: grid;
    place-content: center;
    font-family: var(--ff);
}

img {
    display: block;
}

/* ---------- End of General Styles ---------- */


.main {
    background-color: var(--boxcolor);
    height: 90vh;
    width: 90vw;
    min-width: 350px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    place-content: center;
    place-items: center;
    gap: 2.5rem;
}

.die-face {
    height: 50px;
    width: 50px;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--die-color);
}

.die-num {
    font-size: var(--fs);
}

.roll-btn {
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    font-size: var(--fs-sm);
    background-color: var(--btn-color);
    color: var(--ff-color);
    border: none;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}

.roll-btn:focus {
    outline: none;
}

.roll-btn:active {
    box-shadow: inset 3px 3px 8px -2px rgba(0, 0, 0, 0.75);
}