
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----------- Variables ---------- */
:root {
    --bgcolor: #0B2434;
    --boxcolor: #F6F6F6;
}


/* ---------- General Styles ---------- */
body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    padding: 25px;
    display: grid;
    place-content: center;
}

img {
    display: block;
}

/* ---------- End of General Styles ---------- */


.main {
    background-color: var(--boxcolor);
    height: 90vh;
    width: 90vw;
    min-width: 350px;
    border-radius: 10px;
}